---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MontacargasCarrucel from '../components/MontacargasCarrucel.astro';

---
<Layout>
	<Header />
	<h1>Catalogo</h1>
	<MontacargasCarrucel />
	<Footer />
</Layout>