---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
  <h1>empresa que no sabemos su nombre</h2>
  <h3>slogan de la empresa</h3>
  <p>fondo solo por ahora,quiero que sea un video de los montacargas o algo asi</p>
</div>

<style>
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;;
  background-image: url('../assets/background.svg');
  background-size: cover;
  background-position: center;
}
</style>